main {
  min-height: 80vh;
  margin-top: 6rem;
}

.fixed-nav {
position: fixed;
top: 0;
width: 100%;
z-index: 5;
}

.bg {
  background: rgb(1, 15, 32);
}
.bg2 {
  background: #46B5D1;
}
.bg3 {
  background: #0e1315;
}
.bg4 {
  background: #daf2fa;
}

.footer {
min-height: 20rem;
}

.app-btn {
  background: rgb(15, 24, 26);
}

.blue-txt {
  color: #46B5D1;
}

.white-text {
  color: white;
}

.form-p {
  padding: 1.5rem;
}

.form-m {
  margin: 1.5rem;
}