main {
  min-height: 80vh;
  margin-top: 6rem;
}

.p-form button {
  color: #46B5D1;
  border-radius: 50px;
  text-align: center;
  padding: .5rem 2rem;
  border: .1rem solid #46B5D1;
}
.p-form div {
  display: flex;
  width: 100%;
}
.p-form div input {
  border: none;
  margin: 1rem;
  padding: 1rem;
  background-color: #e6f6fa;
  border-radius: 10px;
}

.fixed-nav {
position: fixed;
top: 0;
width: 100%;
z-index: 5;
}

.post-holder {
  width: 97%;
  margin: 1rem auto;
}
.post-input {
  width: 90%;
  padding: 1rem;
  background-color: #e8f3f7;
  border: none;
  border-radius: 400px;
}
 button {
  border: none;
  background-color: #effffe;
}

input:focus{
  outline: none;
}

.bg {
  background: rgb(1, 15, 32);
}
.bg2 {
  background: #46B5D1;
}
.bg3 {
  background: #0e1315;
}
.bg4 {
  background: #daf2fa;
}

.footer {
min-height: 20rem;
}

.app-btn {
  background: rgb(15, 24, 26);
}

.blue-txt {
  color: #46B5D1;
}

.white-text {
  color: white;
}

.form-p {
  padding: 1.5rem;
}

.form-m {
  margin: 1.5rem;
}